* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, 'sans-serif';
}

body {
   background-color: rgb(255, 255, 255);
}

.first {
   width: 100%;
   min-height: 3in;
   background-color: white;
}

.first div {
   position: relative;
   display: flex;
   justify-content: center;
   top: 2in;
}

.nav {
   width: 100%;
   min-height: .5in;
   background-color: rgb(255, 255, 255);
}

.nav ul {
   display: flex;
   list-style-type: none;
}

.nav li {
   padding: 20px;
}
.nav a {
   text-decoration: none;
}

.nav div {
   position: relative;
   display: flex;
   justify-content: center;
}

.third {
   width: 100%;
   min-height: .5in;
   background-color: white;
}

.third div {
   position: relative;
   display: flex;
   justify-content: center;
   top: .5in;
}

.third p {
   color: white;
   font-size: 75px;
   background-color: rgb(39, 39, 39);
}

.fourth {
   width: 100%;
   min-height: 6in;
   background-color: white;
}

.fourth div {
   position: relative;
   display: flex;
   justify-content: center;
   top: 1in;
}

.fourth img {
   border: 5px solid rgb(41, 41, 41);
   width: 9in;
}

.para1 {
   width: 100%;
   min-height: 2in;
   background-color: white;
}

.para1 .heading-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para1 .paragraph-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para2 {
   width: 100%;
   min-height: 2in;
   background-color: white;
}

.para2 .heading-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para2 .paragraph-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para3 {
   width: 100%;
   min-height: 2in;
   background-color: white;
}

.para3 .heading-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para3 .paragraph-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}


.para4 {
   width: 100%;
   min-height: 2in;
   background-color: white;
}

.para4 .heading-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.para4 .paragraph-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
}

.footer {
   width: 100%;
   min-height: 2in;
   background-color: rgb(25, 25, 25);
}

.copyright {
   width: fit-content;
   position: relative;
   display: flex;
   left: 2in;
   top: 1in;
}

.copyright p {
   color: white;
}

.media-links {
   width: fit-content;
   display: flex;
   position: relative;
   float: right;
   padding-right: 1in;
}

.media-links ul {
   list-style-type: none;
   display: flex;
}

.media-links ul li {
   padding: 5px;
}

.media-links img {
   width: 60px;
}


